html, body{
    height: 100% !important;
}

.container{
    padding-top: 10px !important;
}

.separator{
    border-top:2px dashed #ecf0f1 !important;
    height: 1px !important;
    margin-top: 5px;
    margin-bottom: 2px;
}

.footer{
    border: 1px solid red !important;
}